<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/film.css">
    <title>Document</title>
</head>
<body>
    <div class="movie-container">
        <img class="thumbnail" src="<%= data_film['thumbnail'] %>" alt="thumbnail">
        <div class="info-container">
            <table>
                <tr>
                    <th>Titre</th>
                    <td><%= data_film['title'] %></td>
                </tr>
                <tr>
                    <th>Année</th>
                    <td><%= data_film['year'] %></td>
                </tr>
                <tr>
                    <th>Casting</th>
                    <td>
                    <%= data_film['cast'] %>
                    </td>
                </tr>
                <tr>
                    <th>Genre</th>
                    <td><%= data_film['genres'] %></td>
                </tr>
            </table>
        </div>
    
    </div>
    <br>
    <%= data_film['extract'] %>
</body>
</html>