<head>
  <link rel="stylesheet" href="/css/search.css">
</head>

<body>

  <div class="research-field">
    <div class="research-info">
      <div class="query">
        <h1><% if (query) {%>
          Résultats pour la recherche : "<%= query %>"
        <% } else { %>
          Recherche
        <% } %></h1>
        </div>
      <div class="search-data">
        <h3>Nombre de résultats affichés:
      <% if (resultsMovies.length > 30) {%>
        30
      <% } else { %>
        <%= resultsMovies.length %>
      <% } %>
      (total: <%= resultsMovies.length %>)
      </h3>
      <div class="time">Résultats fournis en <%= time %> milisecondes.</div>
      </div>
    </div>
    
    <div class="movies-container">
      <section id="section1" class="movies-grid">

        <% if (resultsMovies.length > 20) {%>
          <a href="#section3" class="previous-section"><</a >
        <% } else if (resultsMovies.length > 10) {%>
          <a href="#section2" class="previous-section"><</a >
        <% } %>


        <% for (let i = 0; i < resultsMovies.length && i < 10;i++) {%>
          <a class="movie" href="movie?id=<%= resultsMovies[i]['_id'] %>">
            <img class="movie-thumbnail" src="<%= resultsMovies[i]["thumbnail"] %>" alt="">
            <p class="movie-title"><%= resultsMovies[i]['title'] %></p>
          </a>
        <% } %>

        <% if (resultsMovies.length > 10) {%>
          <a href="#section2" class="next-section">></a>
        <% } %>

      </section>

      <% if (resultsMovies.length > 10) {%>
        <section id="section2" class="movies-grid">

          <a href="#section1" class="previous-section"><</a >
          <% for (let i = 10; i < resultsMovies.length && i < 20;i++) {%>
            <a class="movie" href="movie?id=<%= resultsMovies[i]['_id'] %>">
              <img class="movie-thumbnail" src="<%= resultsMovies[i]["thumbnail"] %>" alt="">
              <p class="movie-title"><%= resultsMovies[i]['title'] %></p>
            </a>
          <% } %>

          <% if (resultsMovies.length > 20) {%>
            <a href="#section3" class="next-section">></a >
          <% } else {%>
            <a href="#section1" class="next-section">></a >
          <% } %>

        </section>
      <% } %>


      <% if (resultsMovies.length > 20) {%>
        <section id="section3" class="movies-grid">
          <a href="#section2" class="previous-section"><</a >
          <% for (let i = 20; i < resultsMovies.length && i < 30;i++) {%>
            <a class="movie" href="movie?id=<%= resultsMovies[i]['_id'] %>">
              <img class="movie-thumbnail" src="<%= resultsMovies[i]["thumbnail"] %>" alt="">
              <p class="movie-title"><%= resultsMovies[i]['title'] %></p>
            </a>
          <% } %>
          <a href="#section1" class="next-section">></a>
        </section>
      <% } %>
    </div>
  </div>

  <div class="research-advanced">
      <h1>Recherche avancée</h1>
      <form class="research-advanced-form" action="search" method="post">
        <input type="text" placeholder="Recherche" name="query">
        <div class="dates-input">
          <input class="date-select" type="number" name="startDate" value="1917" aria-valuemin="1917" aria-valuemax="2023">
          <input class="date-select" type="number" name="endDate" value="2023" aria-valuemin="1917" aria-valuemax="2023">
        </div>
        <div class="genre-select">
          <% for (let i = 0; i < genres.length; i++) { %>
            <input type="checkbox" name="genres" value="<%= genres[i] %>">
            <label for="genres"><%= genres[i] %></label>
          <% } %>
        </div>
        <input type="submit" value="Rechercher">
      </form>
    </div>

</body>