<head>
    <link rel="stylesheet" href="/css/movie.css">
</head>

<body>
    <div class="movie-container">
        <img class="thumbnail" src="<%= dataMovie['thumbnail'] %>" alt="thumbnail">
        <div class="info-container">
            <table>
                <tr>
                    <th>Titre</th>
                    <td><%= dataMovie['title'] %></td>
                </tr>
                <tr>
                    <th>Année de sortie  </th>
                    <td><%= dataMovie['year'] %></td>
                </tr>
                <tr>
                    <th>Casting</th>
                    <td>
                    <%= dataMovie['cast'] %>
                    </td>
                </tr>
                <tr>
                    <th>Genre</th>
                    <td><%= dataMovie['genres'] %></td>
                </tr>
                <tr>
                    <th>Score</th>
                    <td>
                        <div class="star-ratings">
                            <div class="fill-ratings" id="rating-stars">
                                <span>★★★★★</span>
                            </div>
                            <div class="empty-ratings">
                                <span>★★★★★</span>
                            </div>
                        </div>
                        <%= rate %>/10
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <p><%= dataMovie['extract'] %></p>
        </div>
    
        
        <% if (idUser) {%>
        <div class="user-options">
        <form action="add-movie" method="post">
            <input type="text" hidden name="idMovie" value="<%= dataMovie["_id"] %>">
            <select name="selectedDex">
                <% for (let i = 0;i < dexesUser.length; i++) {%>
                    <option value="<%= dexesUser[i]["_id"]%>"> <%= dexesUser[i]["name"] %> </option>
                <% } %>
            </select>
            <input type="submit" value="Ajouter à la liste">
        </form>
        <form action="movie-seen" method="post">
            <input type="text" hidden name="idMovie" value="<%= dataMovie['_id'] %>">
            <input type="text" hidden name="idUser" value="<%= idUser %>">
            <% if (seen) { %>
                <input type="checkbox" name="seen" onchange="this.form.submit()" checked>
            <% } else { %>
                <input type="checkbox" name="seen" onchange="this.form.submit()">
            <% } %>
            <label for="seen">Déjà vu</label>
        </form>
        <form action="add-rate" method="post">
            <input type="text" hidden name="idMovie" value="<%= dataMovie['_id'] %>">
            <input type="text" hidden name="idUser" value="<%= idUser %>">
            <input type="range" name="rate" min="0" max="10" step="1" list="ratelist">
            <datalist id="ratelist">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </datalist>
            <input type="submit" value="Noter">
        </form>
        </div>
    <% } %>
    </div>
<script>
    var score = <%= rate %> * 10 + "%";
    document.getElementById("rating-stars").style.width=score;
</script>
</body>