<head>
    <link rel="stylesheet" href="/css/movie.css">
</head>

<body>
    <div class="movie-container">
        <img class="thumbnail" src="<%= dataMovie['thumbnail'] %>" alt="thumbnail">
        <div class="info-container">
            <table>
                <tr>
                    <th>Titre</th>
                    <td><%= dataMovie['title'] %></td>
                </tr>
                <tr>
                    <th>Année de sortie  </th>
                    <td><%= dataMovie['year'] %></td>
                </tr>
                <tr>
                    <th>Casting</th>
                    <td>
                    <%= dataMovie['cast'] %>
                    </td>
                </tr>
                <tr>
                    <th>Genre</th>
                    <td><%= dataMovie['genres'] %></td>
                </tr>
                <tr>
                    <th>Score</th>
                    <td><%= dataMovie['score'] %></td>
                </tr>
            </table>
            <br>
            <br>
            <p><%= dataMovie['extract'] %></p>
        </div>
    <% if (idUser) {%>
        <form action="add-movie" method="post">
            <input type="text" hidden name="idMovie" value="<%= dataMovie["_id"] %>">
            <select name="selectedDex">
                <% for (let i = 0;i < dexesUser.length; i++) {%>
                    <option value="<%= dexesUser[i]["_id"]%>"> <%= dexesUser[i]["name"] %> </option>
                <% } %>
            </select>
            <input type="submit" value="Ajouter à la liste">
        </form>
        <form action="movie-seen" method="post">
            <input type="checkbox" name="" id="">
            <input type="text" hidden>
        </form>
    <% } %>
</body>