<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/dex.css">
</head>
<body>

    <div class="dex-container">
        <section class="dex-info">
            <div class="dex-thumbnail">
                <% if (dataDex["movies"][0]) {%>
                <img class="movie1" src="<%= dataDex["movies"][0]["thumbnail"]%>" alt="">
                <% } %>  
                <% if (dataDex["movies"][0]) {%>
                <img class="movie2" src="<%= dataDex["movies"][1]["thumbnail"]%>" alt="">
                <% } %>
                <% if (dataDex["movies"][0]) {%>
                <img class="movie3" src="<%= dataDex["movies"][2]["thumbnail"]%>" alt="">
                <% } %>
            </div>
            <section class="dex-description">
                <div class="title"><h1>Nom : <%= dataDex['name'] %></h1></div>
                <div class="genres"><h2>Genres : <%= dataDex['genres'] %></h2></div>
                <div class="description"><h3>Description : <%= dataDex['description'] %></h3></div>
            </section>
        </section>
        <section class="dex-movies">

                <% for (let indexMovie = 0; indexMovie < dataDex['movies'].length; indexMovie++) {%>
                        <td><img src="<%= dataDex['movies'][indexMovie]['thumbnail'] %>" alt="thumbnail"></td>
                        <% if (dataDex['user'] == idUser) { %>
                        <td>
                            <form action="remove-movie-from-dex" method="post">
                                <input type="text" name="idMovieRemoved" hidden value="<%= dataDex['movies'][indexMovie]['_id'] %>">
                                <input type="text" name="idDex" hidden value="<%= dataDex['_id'] %>">
                                <input type="submit" value="Supprimer">
                            </form>
                        </td>
                        <% } %>
                    </tr>
                <% } %>
            </table>
        </section>
        <section class="delete-dex">
            <% if (dataDex['user'] == idUser) { %>
                <form action="delete-dex" method="post">
                    <input type="text" hidden name="idDex" value="<%= dataDex["_id"] %>">
                    <input class="delete-button" type="submit" value="Supprimer la dex">
                </form>
		    <% } %>
        </section>
    </div>
</body>
</html>