<head>
  <link rel="stylesheet" href="/css/my-dexes.css">
  <link rel="stylesheet" href="/css/dex-display.css">
</head>

<body>
  <div class="my_dexes_body">
    <h1 class="title">Mes Dexs</h1>
    <a class="create_dex_button" href="create-dex">
      <h3>Créer une nouvelle Dex</h3>
    </a>
    <div class="dexes_container">
      <% for (let i = 0; i < dexes.length; i++) {%>
        <a class="dex_display" href="dex?id=<%= dexes[i]['_id'] %>">

            <h2 class="dex_display_name"><%= dexes[i]["name"] %></h2>

            <div class="movies_display">
                <% if (dexes[i]["movies"][0]) {%>
                    <img class="movie_thumbnail" src="<%= dexes[i]["movies"][0]["thumbnail"]%>" alt="">
                <% } %>
                <% if (dexes[i]["movies"][1]) {%>
                    <img class="movie_thumbnail" src="<%= dexes[i]["movies"][1]["thumbnail"]%>" alt="">
                <% } %>
                <% if (dexes[i]["movies"][2]) {%>
                    <img class="movie_thumbnail" src="<%= dexes[i]["movies"][2]["thumbnail"]%>" alt="">
                <% } %>
          </div>

        </a>
      <% } %>
    </div>
  </div>
</body>